/*<!-- Ellener Kitching 16403267 -->*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
   background-color: #F4F4F4;
   min-height:100%;
   position:relative;
   padding-bottom:60px;
}

div.mainLayout{
  float:left;
  width:50%;
}
div.clearFlt{
  clear:both;
}

h5 {
font-family: monospace;
}

h2 {
  font-family: 'Playfair Display' serif;
  color: #C0B283;
  padding: 0em;
  margin: 0.5em;
  margin-bottom: -20px;
  text-transform: uppercase;
  letter-spacing: 0.2em
}

.grades {
  font-family: sans-serif;
  text-indent: 100px;
  line-height: 0;
  padding: 0.5px;
}
/*<!-- CSS line-height Property. (n.d.). CSS line-height Property [online]. Available at: http://www.w3schools.com/cssref/pr_dim_line-height.asp [Accessed 29 Nov. 2016] -->*/

.header {
  width: 100%;
  background-color: #373737;
  padding: 0.5em;
  color: white;
}

h1 {
font-family: 'Playfair Display', serif;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #C0B283;
font-size: 2.5em;
}

.sub-subheading {
  font-family: sans-serif;
  font-weight: bold;
  padding: 1em;
  margin-bottom: -30px;
  margin-left: -5px;
}

p {
  font-family: sans-serif;
  padding: 0;
  margin-left: 1.5em;
  margin-right: 1em;
  text-align: justify;
  color: #373737;
  line-height: 1em;
}

.bio {
text-align: justify;
}

.nav ul {
    list-style:none;
    margin:0;
    padding:0;
    height: 45px;
    text-align:center;
    background-color: white;
    color: #DCD0C0;
    text-align: center;
}

.nav li{
    display:inline;
    border-right: 1px solid black;
    font-family: 'Playfair Display', serif;
    color: black;
}
.nav a{
    width: 150px;
    display:inline-block;
    padding:10px;
    text-decoration: none;
}

.nav a:visited{
  color: #DCD0C0;
}

.nav li a:hover {
  color: #C0B283;
  transition: .3s background-color;
  font-style: italic;
  border-bottom: 3px solid #C0B283;
  font-weight: bold;
}

.nav li:last-child {
  border-right: none;
}

img.Me {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0px auto;
}
/*<!-- Duckett, J. (2011) HTML and CSS design and build of websites. 2011 Edition. Manufactured in the United States of America. Published simultaneously in Canada. Published by John Wiley & Sons, Inc. 10475. Cross point Boulevard Indianapolis, IN 46256. -->*/

.bio {
  font-family: sans-serif;
}

.contactHeader {
  text-align: center;
}

blockquote {
  float: right;
  width: 200px;
  font-size: 200%;
  font-style: italic;
  font-family: 'Dancing Script', cursive;
  margin: 0px 0px 10px 10px;
  padding: 10px;
  border-top: 1px solid #665544;
  border-bottom: 1px solid #665544;
}

img.Painting {
  width: 200px;
  float: right;
  margin: 0px 20px 10px 10px;
}

input textarea {
  color: #373737;
  font-size: 0.75em;
  font-family: sans-serif;
}

#submit:hover {
  color: #373737;
}

.footer {
  clear: both;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #373737;

}

main {
  height: 100%;
}

/*<!-- Colour Scheme Refrence, (Used Throughout):
 The Martin Agency (20 Dec. 2013).  An Idea Lives On [online]. Available at: http://www.awwwards.com/sites/an-idea-lives-on [Accessed 17 Nov. 2016].
 -->*/
